@import url('https://fonts.googleapis.com/css?family=Poppins:500,500i,600&display=swap'), url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap'), url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')

*
  font-family: Roboto Condensed
  margin: 0
  padding: 0

html,
body
  overflow: hidden

body
  background-image: url("../images/background-space.jpg")
  background-repeat: no-repeat
  background-color: #453d4c

#container
  position: relative

// стили карты

table
  border-collapse: collapse
  border: 3px solid black
  margin-left: auto
  margin-right: auto
  background-color: rgba(255, 255, 255, .14)
  transition: .8s
  position: relative

td
  width: 50px
  height: 50px
  border: 3px solid black

// селекторы определяющие цвет меню и уведомлений

.rubrum
  color: red

.rubrumBackground
  background-color: red

.orange
  color: orange

.orangeBackground
  background-color: orange

.aurum
  color: yellow

.aurumBackground
  background-color: yellow

.viridis
  color: lawngreen

.viridisBackground
  background-color: lawngreen

.claracaelum
  color: deepskyblue

.claracaelumBackground
  background-color: deepskyblue

.caelum
  color: blue

.caelumBackground
  background-color: blue

.violaceum
  color: #6d14b8

.violaceumBackground
  background-color: #6d14b8

.purpura
  color: #d04ea0

.purpuraBackground
  background-color: #d04ea0

.album
  color: white

.albumBackground
  background-color: white

.ferrum
  color: grey

.ferrumBackground
  background-color: grey

.terra
  color: saddlebrown

.terraBackground
  background-color: saddlebrown

// стили статус бара

#statusBarContainer
  display: flex
  justify-content: center

#statusBar
  font-size: 20px
  display: flex
  align-items: center
  padding: 10px
  background-image: url("../images/background-rusty-iron.jpg")
  background-repeat: no-repeat
  background-color: saddlebrown
  background-size: 100%
  border-bottom-left-radius: 12px
  border-bottom-right-radius: 12px
  margin-left: auto
  margin-right: auto

.statusBarElement
  display: flex
  justify-content: center
  vertical-align: center
  background-color: black
  padding: 6px
  margin-left: 3px
  margin-right: 3px
  border-radius: 12px

.infoContainer
  display: flex
  flex-direction: column
  align-items: center

.widePadding
  padding-left: 3px
  padding-right: 3px

.infoLabel
  text-align: center

#scull
  background-size: 100%
  background-repeat: no-repeat
  width: 50px
  height: 55px
  transition: .3s

.whiteScull
  background-image: url("../images/scull.png")

.redScull
  background-image: url("../images/red-scull.png")
  margin-bottom: 3px
  scale: 1.1

// стили панели с количеством жизней

#heartsBar,
#heartsBox
  display: flex

.heart
  background-size: 100%
  background-repeat: no-repeat
  width: 50px
  height: 55px

.availableHeart
  background-image: url("../images/heart.png")

.lostHeart
  background-image: url("../images/lost-heart.png")

.heartScale
  animation: scale .3s

@keyframes scale
  from
    scale: 1.2
  to
    scale: 1

// правый худ

#bombBar
  background-image: url("../images/background-rusty-iron2.jpg")
  background-repeat: no-repeat
  background-color: saddlebrown
  position: absolute
  left: 100%
  top: 56.7%
  border-top-right-radius: 12px
  transition: .2s

.bomb
  background-size: 100%
  background-repeat: no-repeat
  width: 70px
  height: 70px
  animation: scale .3s

.activeBomb
  background-image: url("../images/bomb.png")

.emptyBomb
  background-image: url("../images/empty-bomb.png")

.redBomb
  background-image: url("../images/red-bomb.png")

#bonusShieldBar,
#bonusNewArrowTypeBar
  background-repeat: no-repeat
  background-color: saddlebrown
  font-size: 20px
  position: absolute
  display: flex
  flex-direction: column
  align-items: center
  padding: 12px
  left: 100%
  transition: .2s

#bonusShieldBar
  background-image: url("../images/background-rusty-iron.jpg")
  background-color: saddlebrown
  top: 66.1%
  border-top-right-radius: 12px

#bonusNewArrowTypeBar
  background-image: url("../images/background-rusty-iron2.jpg")
  background-color: saddlebrown
  top: 82.5%
  border-bottom-right-radius: 12px

.bonusBarElement
  margin-bottom: 6px

.bonusLabel
  background-size: 100%
  background-repeat: no-repeat
  width: 48px
  height: 48px
  display: flex

.timerLabel
  width: 48px
  height: 24px

.drillPickUpImage,
.trinityPickUpImage,
.shieldPickUpImage
  background-size: 100%
  background-repeat: no-repeat
  width: 50px
  height: 50px

.blinkBeforeBonusOff
  animation: blink .6s infinite

.drillPickUpImage
  background-image: url("../images/bonus-drill.png")

.trinityPickUpImage
  background-image: url("../images/bonus-trinity.png")

.shieldPickUpImage
  background-image: url("../images/bonus-shield.png")

// левый худ

#superAbilityBar
  position: absolute
  right: 100%
  top: 57.3%

#shineSectorsContainer
  display: flex
  justify-content: end

#shineSectorsBox
  background-image: url("../images/background-rusty-iron2.jpg")
  background-repeat: no-repeat
  background-color: saddlebrown
  display: block
  width: 16px
  padding: 10px
  border-bottom-left-radius: 12px

.shineSector
  width: 10px
  height: 28px
  margin-bottom: 5px
  border-radius: 12px

.shineSectorIsOff
  background-color: black

#lightningElementContainer
  background-image: url("../images/background-rusty-iron2.jpg")
  background-repeat: no-repeat
  background-color: saddlebrown
  border-bottom-left-radius: 12px
  border-top-left-radius: 12px
  padding-left: 10px
  padding-right: 10px
  padding-top: 12px
  padding-bottom: 17px
  transition: .2s

#lightningElement
  background-size: 100%
  background-repeat: no-repeat
  width: 50px
  height: 106px
  animation: scale .3s

.lightningIsOn
  background-image: url("../images/lightning.png")

.lightningIsOff
  background-image: url("../images/empty-lightning.png")

.lightningIsOut
  background-image: url("../images/red-lightning.png")

// стили игрока

.player,
.player-drill,
.player-trinity
  background-size: 100%
  background-repeat: no-repeat
  opacity: 1

.player
  background-image: url("../images/player.png")

.player-drill
  background-image: url("../images/player-drill.png")

.player-trinity
  background-image: url("../images/player-trinity.png")

.player-shield
  background-color: rgba(46, 232, 99, .7)
  box-shadow: 0 0 60px greenyellow
  border-radius: 50%

.invincibility
  animation: blink .6s infinite

@keyframes blink
  from
    opacity: 1
  to
    opacity: .3

// стили босса

.boss,
.bossWhite
  background-size: 100%
  background-repeat: no-repeat
  opacity: 1
  scale: 9

.boss
  background-image: url("../images/boss.png")

.bossWhite
  background-image: url("../images/boss-white.png")

.bossCreate
  animation: bossCreate 2s

.bossDyingDisappears
  animation: disappears 3s

.bossShield,
.bossShieldOff
  position: relative

.bossShield::after,
.bossShieldOff::after
  content: "-"
  color: #6565dc
  scale: 1.1
  position: absolute
  left: 0
  bottom: 0
  box-shadow: 0 0 20px #ffffff

.bossShield::after
  width: 50px
  height: 4px
  background-color: #6565dc
  transition: .3s
  animation: onBossShield .3s, blink 1.5s infinite

.bossShieldOff::after
  width: 0
  height: 4px
  background-color: #6565dc
  transition: .3s

.bossShieldHit::after
  width: 50px
  height: 10px
  background-color: #ffffff

@keyframes onBossShield
  from
    width: 0
    scale: 0
    opacity: 0
  to
    width: 50px
    scale: 1.1
    opacity: 1

@keyframes bossCreate
  from
    transform: translate(0, -40px)
  to
    transform: translate(0, 0)

@keyframes disappears
  from
    opacity: 1
  to
    opacity: 0

// стили движущихся объектов

.blockage,
.blockageWhite,
.blockageBull,
.blockageWhiteBull,
.arrow,
.arrow-drill,
.arrow-trinity,
.enemyArrow,
.enemyArrowBomb,
.drill,
.trinity,
.shield,
.life,
.killAll
  background-size: 100%
  background-repeat: no-repeat

.blockage
  background-image: url("../images/blockage.png")
  opacity: 1
  scale: 1

.blockageWhite
  background-image: url("../images/blockage-white.png")
  opacity: 1
  scale: 1

.blockageBull
  background-image: url("../images/blockage-bull.png")
  opacity: 1
  scale: 2.2

.blockageWhiteBull
  background-image: url("../images/blockage-white-bull.png")
  opacity: 1
  scale: 2.2

.arrow
  background-image: url("../images/arrow.png")

.arrow-drill
  background-image: url("../images/arrow-drill.png")

.arrow-trinity
  background-image: url("../images/arrow-trinity.png")

.enemyArrow
  background-image: url("../images/enemy-arrow.png")
  transition: .3s
  transform: scale(.2)

.enemyArrowBomb
  background-image: url("../images/enemy-arrow-bomb.png")
  transition: .3s

.drill
  background-image: url("../images/bonus-drill.png")
  scale: 1

.trinity
  background-image: url("../images/bonus-trinity.png")
  scale: 1

.shield
  background-image: url("../images/bonus-shield.png")
  scale: 1

.life
  background-image: url("../images/bonus-life.png")
  scale: 1

.killAll
  background-image: url("../images/bonus-kill-all.png")
  scale: 1

// стили взаимодействий

.picked,
.hit,
.crash,
.teleportationOut,
.teleportationIn
  background-size: 100%
  background-repeat: no-repeat
  box-shadow: 0 0 0 0
  transition: .3s

.picked
  background-image: url("../images/picked.png")
  background-color: rgba(0, 0, 0, 0)
  transform: scale(2)

.teleportationOut,
.teleportationIn
  background-image: url("../images/teleportation.png")

.teleportationOut
  transform: scale(0.6)

.teleportationIn
  transform: scale(1.8)

.hit
  background-image: url("../images/hit.png")
  transform: scale(2)

.crash
  background-image: url("../images/crash.png")
  transform: scale(1.8)

.superAbilityCenterLine
  background-color: white
  box-shadow: 0 0 250px #e6e673

.superAbilitySecondLine
  background-color: yellow
  box-shadow: 0 0 250px #cea72e
  transition: .2s
  animation: superAbilityGrowsInWidth .2s

.superAbilityThirdLine
  background-color: orange
  box-shadow: 0 0 250px #c14a2e
  transition: .4s
  animation: superAbilityGrowsInWidth .4s

@keyframes superAbilityGrowsInWidth
  from
    width: 0
    opacity: .8
  to
    width: 50px
    opacity: 1

.flash
  background-color: rgba(255, 255, 255, 1)
  box-shadow: 0 0 360px white

.explosion
  background-image: url("../images/explosion.png")
  background-position: center
  background-repeat: no-repeat
  background-color: rgba(255, 255, 255, 1)
  box-shadow: 0 0 320px #e1601d
  animation: explosion .8s

@keyframes explosion
  from
    background-size: 50%
  to
    background-size: 260%

// стили отсчёта перед стартом игры

#messageContainer
  position: absolute
  z-index: 4
  margin-top: 50%
  width: 560px
  display: flex
  justify-content: center
  cursor: default

#messageElement
  font-style: italic
  font-size: 124px
  text-transform: uppercase
  animation: numberIn .3s, numberOut .3s .8s

@keyframes numberIn
  from
    transform: translate(0, -16px)
    opacity: .8
  to
    transform: translate(0, 0)
    opacity: 1

@keyframes numberOut
  from
    scale: 1
    opacity: 1
  to
    scale: 1.2
    opacity: 0

// стили чит-меню

#cheatConsole
  width: 268px
  height: 118px
  background-color: white
  border: 4px solid black
  position: absolute
  z-index: 4
  left: 10px
  top: 10px
  border-radius: 12px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  padding: 16px

#cheatMessageContainer
  width: 220px
  height: 80px
  display: flex
  justify-content: center
  align-items: center

#cheatMessage
  font-size: 24px
  text-align: center
  text-transform: uppercase
  animation: messageBlink .4s 2

.cheatMessageGreen
  color: lawngreen

.cheatMessageRed
  color: red

@keyframes messageBlink
  from
    opacity: 1
  to
    opacity: 0

#cheatInputContainer
  width: 220px
  height: 20px
  display: flex
  justify-content: space-between
  align-items: center

#consoleSymbol
  font-size: 30px

#cheatInput
  width: 164px
  height: 22px
  border-radius: 12px
  border: 2px solid black
  outline: none
  padding-left: 10px
  padding-right: 10px
  padding-top: 1px
  font-size: 25px
  font-weight: 900
  text-transform: uppercase
  color: lawngreen

.cheatConsoleIn
  animation: cheatConsoleIn .5s

@keyframes cheatConsoleIn
  from
    transform: translate(0, -176px)
  to
    transform: translate(0, 0)

.cheatConsoleOut
  animation: cheatConsoleOut .5s

@keyframes cheatConsoleOut
  from
    transform: translate(0, 0)
  to
    transform: translate(0, -176px)

// стили дебаг-панели

#debugPanel
  background-color: white
  border: 4px solid black
  position: absolute
  z-index: 3
  right: 10px
  top: 10px
  border-radius: 12px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  padding: 16px

#debugPanelLabel
  font-size: 24px
  text-transform: uppercase
  font-weight: 900
  margin-bottom: 16px

#btnsBlock
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 4px 4px

.btnInputElement
  display: none

.btnInputElement:checked + label
  background-color: #ffe0a6

.redBtn
  background-color: #ffe8e8 !important

.btnInputLabel,
.btnLabel
  display: inline-block
  cursor: pointer
  text-align: center
  font-size: 14px
  padding: 0 15px
  line-height: 34px
  border: 1px solid #999
  border-radius: 6px
  user-select: none

.btnInputLabel
  width: 126px

.btnLabel
  width: 100%
  background-color: white
  outline: none

.btnInputLabel:hover,
.btnLabel:hover
  color: #666

.btnLabel:active
  background-color: #ffe0a6

.redBtn:active
  background-color: #ff9e9e !important

.debugPanelIn
  animation: debugPanelIn .5s

@keyframes debugPanelIn
  from
    transform: translate(380px, 0)
  to
    transform: translate(0, 0)

.debugPanelOut
  animation: debugPanelOut .5s

@keyframes debugPanelOut
  from
    transform: translate(0, 0)
  to
    transform: translate(380px, 0)

// стили меню паузы и экрана статистики

#pauseMenuBackground
  position: absolute
  z-index: 3
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba(0, 0, 0, 0.3)
  backdrop-filter: blur(7px)

.pauseOn
  animation: pauseMenuBackgroundOn .2s

.pauseOff
  animation: pauseMenuBackgroundOff .2s

@keyframes pauseMenuBackgroundOn
  from
    background-color: rgba(0, 0, 0, 0)
    backdrop-filter: blur(0)
  to
    background-color: rgba(0, 0, 0, 0.3)
    backdrop-filter: blur(7px)

@keyframes pauseMenuBackgroundOff
  from
    background-color: rgba(0, 0, 0, 0.3)
    backdrop-filter: blur(7px)
  to
    background-color: rgba(0, 0, 0, 0)
    backdrop-filter: blur(0)

#pauseMenuContainer
  display: flex
  align-items: center

.menuContainerAdd
  animation: menuContainerAdd .2s

@keyframes menuContainerAdd
  from
    scale: .98
    opacity: 0
  to
    scale: 1
    opacity: 1

.menuContainerRemove
  animation: menuContainerRemove .2s

@keyframes menuContainerRemove
  from
    scale: 1
    opacity: 1
  to
    scale: .98
    opacity: 0

#pauseMenuLeftBlock
  display: flex
  flex-direction: column
  align-items: end

.pauseSideOptionBlock
  background-color: saddlebrown
  background-image: url("../images/background-rusty-iron2.jpg")
  width: 80px
  height: 70px
  border-radius: 12px
  display: flex
  justify-content: center
  align-items: center

#pauseLeftOptionDisplay
  background-color: black
  border-radius: 12px
  width: 50px
  height: 50px
  margin-right: 12px
  display: flex
  justify-content: center
  align-items: center

#pauseRightOptionDisplay
  background-color: black
  border-radius: 12px
  width: 50px
  height: 50px
  margin-left: 12px
  display: flex
  justify-content: center
  align-items: center

.pauseMenuSideBtn
  background-color: black
  font-size: 30px
  padding-top: 1px
  border: none
  cursor: pointer

.pauseMenuBackAdd
  animation: backBtnAdd .2s

@keyframes backBtnAdd
  from
    transform: translate(4px, 0)
    opacity: 0
  to
    transform: translate(0, 0)
    opacity: 1

.pauseMenuBackRemove
  animation: backBtnRemove .2s

@keyframes backBtnRemove
  from
    transform: translate(0, 0)
    opacity: 1
  to
    transform: translate(-4px, 0)
    opacity: 0

.pauseMenuSideBorder
  background-color: saddlebrown
  background-image: url("../images/background-rusty-iron2.jpg")
  width: 22px
  height: 120px

.pauseMenuSideBorderBigSize
  width: 25px
  height: 255px

.pauseMenuSideBottomBracing
  background-color: saddlebrown
  background-image: url("../images/background-rusty-iron2.jpg")
  width: 34px
  height: 51px
  border-radius: 12px

.pauseMenuHorizontalBorder
  height: 15px
  background-color: saddlebrown
  background-image: url("../images/background-rusty-iron2.jpg")

.pauseMenuHorizontalBorderBigSize
  height: 19px

#pauseMenuList
  list-style-type: none
  border-radius: 12px
  min-width: 222px
  min-height: 143px
  scale: 1.1
  background-color: black
  text-align: center
  padding-left: 46px
  padding-right: 46px
  padding-top: 28px
  padding-bottom: 28px

.pauseMenuListBigSize
  width: 351px
  height: 278px
  scale: 1.08 !important

.listFlexStyle
  display: flex
  justify-content: space-around

#confirmTitle,
#statisticsTitle,
.pauseMenuBtn
  font-family: Ubuntu
  font-size: 30px

#confirmTitle
  margin-bottom: 20px

#statisticsTitle
  margin-bottom: 12px
  font-size: 38px

#statisticsGridContainer
  display: grid
  grid-template-columns: 1fr .3fr
  row-gap: 2px
  font-size: 22px
  margin-bottom: 15px

.statisticsColumn
  font-family: Ubuntu

.statisticsLeftColumn
  text-align: start

.statisticsRightColumn
  text-align: end

.pauseMenuOneList
  margin: 6px

.pauseMenuBtn
  background-color: black
  opacity: 0
  border: none

.pauseMenuBtnOn
  opacity: 1
  cursor: pointer

#pauseMenuRightBlock
  display: flex
  flex-direction: column
  align-items: start

#pauseMenuCross
  color: red

.pauseMenuCrossAdd
  animation: crossBtnAdd .2s

@keyframes crossBtnAdd
  from
    transform: rotate(-90deg)
    opacity: 0
  to
    transform: rotate(0)
    opacity: 1