@import url("https://fonts.googleapis.com/css2?family=Rubik+Lines&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&family=Rubik+Lines&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

body {
  background-color: #030331;
  background-image: url("../src/images/background-space2.jpg");
  background-repeat: no-repeat;
}

#wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#top {
  flex-grow: 1;
}

.pointerClass {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.green {
  color: lawngreen;
}

header {
  display: flex;
  justify-content: center;
}

#gameTitle {
  font-family: Rubik Broken Fax;
  font-size: 0;
  display: flex;
}

#spaceWord {
  margin-right: 40px;
}

.letter {
  font-size: 150px;
}

.yellowLetter {
  background: linear-gradient(#905d00, #beda50);
  -webkit-background-clip: text;
  color: transparent;
}

.orangeLetter {
  background: linear-gradient(red, #e68345);
  -webkit-background-clip: text;
  color: transparent;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 40px;
  padding-bottom: 24px;
}

#gitHubLink {
  display: flex;
  justify-content: space-between;
  color: white;
  height: 36px;
  width: 136px;
  transition: 0.2s;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

#gitHubLink:hover {
  border-bottom: 2px solid white;
}

#gitHubLogo {
  font-size: 36px;
}

#gitHubTitle {
  margin-top: 4px;
  font-family: Ubuntu;
  font-size: 30px;
}

.circle {
  background-image: url("../src/images/background-rusty-iron2.jpg");
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  transform: scale(1.7);
  padding: 3px;
}

.circleDisplay {
  background-color: black;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  transform: scale(1.1);
}

main {
  display: flex;
  justify-content: center;
}

#container {
  background-color: black;
  transition: 0.3s;
  width: 302px;
  height: 163px;
}

#back {
  display: none;
}

table {
  border-collapse: collapse;
}

td {
  padding: 20px;
  color: lawngreen;
  border: 3px solid lawngreen;
}

.elementFadeIn {
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.avatar {
  width: 50px;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #075807;
}

#menu {
  list-style-type: none;
  border-radius: 12px;
  width: 222px;
  height: 143px;
  background-color: black;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

.menuOneList {
  margin: 6px;
}

.menuOneBtn {
  font-family: Ubuntu;
  font-size: 25px;
  background-color: black;
  border: none;
}

#recordsPage {
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
