@import url('https://fonts.googleapis.com/css?family=Poppins:500,500i,600&display=swap'), url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap')

*
  font-family: Roboto Condensed

body
  background-image: url("../images/background-space.jpg")
  background-repeat: no-repeat
  background-color: #453d4c

#container
  position: relative

//  стили карты

table
  border-collapse: collapse
  border: 3px solid black
  margin-left: auto
  margin-right: auto
  background-color: rgba(255, 255, 255, .14)
  transition: .8s
  position: relative

td
  width: 50px
  height: 50px
  border: 3px solid black

//  стили статус бара

#statusBarContainer
  display: flex
  justify-content: center

#statusBar
  font-size: 20px
  color: lawngreen
  display: flex
  align-items: center
  padding: 10px
  background-image: url("../images/background-rusty-iron.jpg")
  background-repeat: no-repeat
  background-color: saddlebrown
  background-size: 100%
  border-bottom-left-radius: 12px
  border-bottom-right-radius: 12px
  margin-left: auto
  margin-right: auto

.statusBarElement
  display: flex
  justify-content: center
  vertical-align: center
  background-color: black
  padding: 6px
  margin-left: 3px
  margin-right: 3px
  border-radius: 12px

.infoContainer
  display: flex
  flex-direction: column
  align-items: center

.infoLabel
  text-align: center

#scull
  background-size: 100%
  background-repeat: no-repeat
  width: 50px
  height: 55px
  transition: .3s

.whiteScull
  background-image: url("../images/scull.png")

.redScull
  background-image: url("../images/red-scull.png")
  margin-bottom: 3px
  scale: 1.1

//  стили панели с количеством жизней

#heartsBar,
#heartsBox
  display: flex

.heart
  background-size: 100%
  background-repeat: no-repeat
  width: 50px
  height: 55px

.availableHeart
  background-image: url("../images/heart.png")

.lostHeart
  background-image: url("../images/lost-heart.png")

.heartScale
  animation: scale .3s

@keyframes scale
  from
    scale: 1.2
  to
    scale: 1

//  правый худ

#bombBar
  background-image: url("../images/background-rusty-iron2.jpg")
  background-repeat: no-repeat
  background-color: saddlebrown
  position: absolute
  left: 100%
  top: 58%
  border-top-right-radius: 12px
  transition: .2s

.bomb
  background-size: 100%
  background-repeat: no-repeat
  width: 70px
  height: 70px
  animation: scale .3s

.activeBomb
  background-image: url("../images/bomb.png")

.emptyBomb
  background-image: url("../images/empty-bomb.png")

.redBomb
  background-image: url("../images/red-bomb.png")

#bonusShieldBar,
#bonusNewArrowTypeBar
  background-repeat: no-repeat
  background-color: saddlebrown
  font-size: 20px
  color: lawngreen
  position: absolute
  display: flex
  flex-direction: column
  align-items: center
  padding: 12px
  left: 100%
  transition: .2s

#bonusShieldBar
  background-image: url("../images/background-rusty-iron.jpg")
  background-color: saddlebrown
  top: 67%
  border-top-right-radius: 12px

#bonusNewArrowTypeBar
  background-image: url("../images/background-rusty-iron2.jpg")
  background-color: saddlebrown
  top: 83.1%
  border-bottom-right-radius: 12px

.bonusBarElement
  margin-bottom: 6px

.bonusLabel
  background-size: 100%
  background-repeat: no-repeat
  width: 48px
  height: 48px
  display: flex

.timerLabel
  width: 48px
  height: 24px

.drillPickUpImage,
.trinityPickUpImage,
.shieldPickUpImage
  background-size: 100%
  background-repeat: no-repeat
  width: 50px
  height: 50px

.blinkBeforeBonusOff
  animation: blink .6s infinite

.drillPickUpImage
  background-image: url("../images/bonus-drill.png")

.trinityPickUpImage
  background-image: url("../images/bonus-trinity.png")

.shieldPickUpImage
  background-image: url("../images/bonus-shield.png")

//  левый худ

#superAbilityBar
  position: absolute
  right: 100%
  top: 58.8%

#shineSectorsContainer
  display: flex
  justify-content: end

#shineSectorsBox
  background-image: url("../images/background-rusty-iron2.jpg")
  background-repeat: no-repeat
  background-color: saddlebrown
  display: block
  width: 16px
  padding: 10px

.shineSector
  width: 10px
  height: 28px
  margin-bottom: 5px
  border-radius: 12px

.shineSectorIsOn
  background-color: lawngreen

.shineSectorIsOff
  background-color: black

#lightningElementContainer
  background-image: url("../images/background-rusty-iron2.jpg")
  background-repeat: no-repeat
  background-color: saddlebrown
  border-bottom-left-radius: 12px
  border-top-left-radius: 12px
  padding-left: 10px
  padding-right: 10px
  padding-top: 12px
  padding-bottom: 17px
  transition: .2s

#lightningElement
  background-size: 100%
  background-repeat: no-repeat
  width: 50px
  height: 106px
  animation: scale .3s

.lightningIsOn
  background-image: url("../images/lightning.png")

.lightningIsOff
  background-image: url("../images/empty-lightning.png")

.lightningIsOut
  background-image: url("../images/red-lightning.png")

//  стили игрока

.player,
.player-drill,
.player-trinity
  background-size: 100%
  background-repeat: no-repeat
  opacity: 1

.player
  background-image: url("../images/player.png")

.player-drill
  background-image: url("../images/player-drill.png")

.player-trinity
  background-image: url("../images/player-trinity.png")

.player-shield
  background-color: rgba(46, 232, 99, .7)
  box-shadow: 0 0 60px greenyellow
  border-radius: 50%

.invincibility
  animation: blink .6s infinite

@keyframes blink
  from
    opacity: 1
  to
    opacity: .3

// стили босса

.boss,
.bossWhite
  background-size: 100%
  background-repeat: no-repeat
  opacity: 1
  scale: 9

.boss
  background-image: url("../images/boss.png")

.bossWhite
  background-image: url("../images/boss-white.png")

.bossCreate
  animation: bossCreate 2s

.bossDyingDisappears
  animation: disappears 3s

.bossShield,
.bossShieldOff
  position: relative

.bossShield::after,
.bossShieldOff::after
  content: "-"
  color: #6565dc
  scale: 1.1
  position: absolute
  left: 0
  bottom: 0
  box-shadow: 0 0 20px #ffffff

.bossShield::after
  width: 50px
  height: 4px
  background-color: #6565dc
  transition: .3s
  animation: onBossShield .3s, blink 1.5s infinite

.bossShieldOff::after
  width: 0
  height: 4px
  background-color: #6565dc
  transition: .3s

.bossShieldHit::after
  width: 50px
  height: 10px
  background-color: #ffffff

@keyframes onBossShield
  from
    width: 0
    scale: 0
    opacity: 0
  to
    width: 50px
    scale: 1.1
    opacity: 1

@keyframes bossCreate
  from
    transform: translate(0, -40px)
  to
    transform: translate(0, 0)

@keyframes disappears
  from
    opacity: 1
  to
    opacity: 0

//  стили движущихся объектов

.blockage,
.blockageWhite,
.blockageBull,
.blockageWhiteBull,
.arrow,
.arrow-drill,
.arrow-trinity,
.enemyArrow,
.enemyArrowBomb,
.drill,
.trinity,
.shield,
.life,
.killAll
  background-size: 100%
  background-repeat: no-repeat

.blockage
  background-image: url("../images/blockage.png")
  opacity: 1
  scale: 1

.blockageWhite
  background-image: url("../images/blockage-white.png")
  opacity: 1
  scale: 1

.blockageBull
  background-image: url("../images/blockage-bull.png")
  opacity: 1
  scale: 2.2

.blockageWhiteBull
  background-image: url("../images/blockage-white-bull.png")
  opacity: 1
  scale: 2.2

.arrow
  background-image: url("../images/arrow.png")

.arrow-drill
  background-image: url("../images/arrow-drill.png")

.arrow-trinity
  background-image: url("../images/arrow-trinity.png")

.enemyArrow
  background-image: url("../images/enemy-arrow.png")
  transition: .3s
  transform: scale(.2)

.enemyArrowBomb
  background-image: url("../images/enemy-arrow-bomb.png")
  transition: .3s

.drill
  background-image: url("../images/bonus-drill.png")
  scale: 1

.trinity
  background-image: url("../images/bonus-trinity.png")
  scale: 1

.shield
  background-image: url("../images/bonus-shield.png")
  scale: 1

.life
  background-image: url("../images/bonus-life.png")
  scale: 1

.killAll
  background-image: url("../images/bonus-kill-all.png")
  scale: 1

//  стили взаимодействий

.picked,
.hit,
.crash,
.teleportationOut,
.teleportationIn
  background-size: 100%
  background-repeat: no-repeat
  box-shadow: 0 0 0 0
  transition: .3s

.picked
  background-image: url("../images/picked.png")
  background-color: rgba(0, 0, 0, 0)
  transform: scale(2)

.teleportationOut,
.teleportationIn
  background-image: url("../images/teleportation.png")

.teleportationOut
  transform: scale(0.6)

.teleportationIn
  transform: scale(1.8)

.hit
  background-image: url("../images/hit.png")
  transform: scale(2)

.crash
  background-image: url("../images/crash.png")
  transform: scale(1.8)

.superAbilityCenterLine
  background-color: white
  box-shadow: 0 0 250px #e6e673

.superAbilitySecondLine
  background-color: yellow
  box-shadow: 0 0 250px #cea72e
  transition: .2s
  animation: superAbilityGrowsInWidth .2s

.superAbilityThirdLine
  background-color: orange
  box-shadow: 0 0 250px #c14a2e
  transition: .4s
  animation: superAbilityGrowsInWidth .4s

@keyframes superAbilityGrowsInWidth
  from
    width: 0
    opacity: .8
  to
    width: 50px
    opacity: 1

.flash
  background-color: rgba(255, 255, 255)
  box-shadow: 0 0 360px white

.explosion
  background-image: url("../images/explosion.png")
  background-position: center
  background-repeat: no-repeat
  background-color: rgba(255, 255, 255)
  box-shadow: 0 0 320px #e1601d
  animation: explosion .8s

@keyframes explosion
  from
    background-size: 50%
  to
    background-size: 260%

//  стили отсчета перед стартом игры

#messageContainer
  position: absolute
  z-index: 4
  margin-top: 50%
  width: 600px
  display: flex
  justify-content: center
  cursor: default

#messageElement
  font-style: italic
  color: lawngreen
  font-size: 124px
  animation: numberIn .3s, numberOut .3s .8s

@keyframes numberIn
  from
    transform: translate(0, -16px)
    opacity: .8
  to
    transform: translate(0, 0)
    opacity: 1

@keyframes numberOut
  from
    scale: 1
    opacity: 1
  to
    scale: 1.2
    opacity: 0

//  стили чит-меню

#cheatConsole
  width: 268px
  height: 118px
  background-color: white
  border: 4px solid black
  position: absolute
  z-index: 3
  left: 10px
  top: 10px
  border-radius: 12px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  padding: 16px

#cheatMessageContainer
    height: 80px
    width: 220px
    display: flex
    justify-content: center
    align-items: center

#cheatMessage
  font-size: 60px
  color: lawngreen

#cheatInputContainer
  display: flex
  height: 20px
  justify-content: space-between
  align-items: center
  width: 220px

#consoleSymbol
  font-size: 30px

#cheatInput
  width: 164px
  height: 24px
  border-radius: 12px
  outline: none
  padding-left: 10px
  padding-right: 10px
  font-size: 26px
  text-transform: uppercase
  color: lawngreen

.cheatConsoleIn
  animation: cheatConsoleIn .5s

@keyframes cheatConsoleIn
  from
    transform: translate(0, -176px)
  to
    transform: translate(0, 0)

.cheatConsoleOut
  animation: cheatConsoleOut .5s

@keyframes cheatConsoleOut
  from
    transform: translate(0, 0)
  to
    transform: translate(0, -176px)